.photo-grid {
  margin: 0 auto;
  padding: 92px 48px 0;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media all and (max-width: 894px) {
  .photo-grid {
    padding: 88px 24px 0;
    max-width: 720px;
  }
}

@media all and (max-width: 762px) {
  .photo-grid {
    padding: 64px 16px 0;
  }
}
